
/* шрифты */

@font-face {
	font-family: "open-sans-regular";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/OpenSans-Regular.woff);
	src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
	font-family: "open-sans-regular-italic";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/OpenSans-LightItalic.woff);
	src: url(../fonts/OpenSans-LightItalic.woff2);
}

@font-face {
	font-family: "open-sans-semi-bold";
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/OpenSans-SemiBold.woff);
	src: url(../fonts/OpenSans-SemiBold.woff2);
}

@font-face {
	font-family: "open-sans-bold";
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/OpenSans-Bold.woff);
	src: url(../fonts/OpenSans-Bold.woff2);
}
/* Обнуления и общие классы */

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

img {
	width: 100%;
}

figure {
	padding: 0px;
	margin: 0px;
}

a:focus {
	outline-color: var(--color-purple);
}

a {
	text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6,ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
}

.section-heading {
	/* padding-top: 80px; */
	font-size: 48px;
	line-height: 65px;
	color: var(--color-black3);
}

.active-content {
	opacity: 1 !important;
	visibility: visible !important;
}


.container {
	max-width: 1601px;
	margin: 0 auto;
}

.purple-iput {
	color: var(--color-purple) !important;
}

.purple-link:hover {
	color: var(--color-purple);
	border-bottom: 1px solid var(--color-purple);
}	

body {
	font-family: var(--font-open-sans-regular), sans-serif;
	color: var(--color-black3);
}

:root {
	--font-open-sans-regular: "open-sans-regular";
	--font-open-sans-regular-italic: "open-sans-regular-italic";
	--font-open-sans-semi-bold: "open-sans-semi-bold";
	--font-open-sans-bold: "open-sans-bold";
	--color-hover-purple: #C283F3;
	--color-focus-purple: #7943A4;
	--color-active: #D1A9F0;
	--color-black: #000;
	--color-purple: #9D5CD0;
	--color-white: #fff;
	--color-black3: #333;
	--color-btn: #666;
	--swiper-navigation-size: 7px;
	--swiper-theme-color: #007aff;
}

*:focus {
	outline: 2px solid var(--color-focus-purple);
}



/* Header */

.wrapper-top {
	padding: 29px 0px;
	background-color: var(--color-black);
}

.container--top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__logo-img:focus {
	outline: 1px solid var(--color-purple);
}

.logo {
	display: block;
}

.nav {
	font-family: var(--font-open-sans-semi-bold);
}

.nav__link:hover {
	color: var(--color-hover-purple);
}

.nav__link:active {
	color: var(--color-focus-purple);
}

.nav__list {
	display: flex;
}

.nav--mr {
	margin-right: 120px;
}

.nav__link{
	display: -webkit-box;
	display: -ms-flexbox;
	color: var(--color-white);
	font-size: 18px;
	line-height: 25px;
	white-space: nowrap;
}

.nav__link:focus {
	outline: 1px solid var(--color-purple);
}

.nav__item:not(:last-child) {
	margin-right: 62px;
}

.join-link {
	position: relative;
	color: var(--color-white);
	font-size: 18px;
	line-height: 25px;
}

.join-link::before {
	content: '';
	position: absolute;
	top: 6px;
    left: -21px;
	width: 13px;
	height: 13px;
	background-image: url(../img/header-img/svg/join-login.svg);
}

.join-link:hover::before {
	background-image: url(../img/header-img/svg/join-login-hover.svg);
}
.join-link:active::before {
	background-image: url(../img/header-img/svg/join-login-active.svg);
}

.join-link:hover {
	color: var(--color-hover-purple);
}

.join-link:active {
	color: var(--color-purple);
}

.register-form__icon {
	display: block;
	position: absolute;
	top: 6px;
    left: -21px;
	width: 13px;
	height: 13px;
	background-image: url(../img/header-img/svg/join-login.svg);
}

/* header drop-menu */

.container--bottom {
	height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* Dropdown */

.wrapper-bottom {
	position: relative;
	z-index: 10;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

.preload * {
	-webkit-animation-duration: 0s !important;
	animation-duration: 0s !important;
	transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.dropdown-content-wrapper {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin-top: 22px;
	padding: 40px;
	width: 300px;
	max-height: 300px;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	font-family: var(--font-open-sans-semi-bold);
	font-size: 14px;
	line-height: 19px;
	z-index: 1;
	overflow: auto;
	transform-origin: top;
	animation: dropdown-animate-close 300ms linear backwards;

}

.show {
	visibility: visible;
	opacity: 1;
	transform-origin: top;
	animation: dropdown-animate 300ms linear forwards;
	
}


/* .dropdown-content {
	opacity: 0;
} */

.dropdown-content-wrapper .dropdown-content:nth-child(1) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 50ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(2) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 100ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(3) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 150ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(4) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 200ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(5) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 250ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(6) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 300ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(7) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 350ms;
}

.dropdown-content-wrapper .dropdown-content:nth-child(8) {
	transform-origin: top center;
	animation: rotateX 300ms linear forwards;
	animation-delay: 400ms;
}

@keyframes rotateX {
	0% {
	  opacity: 0;
	  transform: rotateX(-90deg);
	}
	50% {opacity: 0.5;
	  transform: rotateX(-20deg);
	}
	100% {
	  opacity: 1;
	  transform: rotateX(0deg);
	}
  }

  @keyframes dropdown-animate {
	0% {
	  opacity: 0;  
	}
	50% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 1; 
	}
  }

  @keyframes dropdown-animate-close {
	0% {
		visibility: visible;
		opacity: 1; 
	}
	50% {
	  	opacity: 0.5;
	}
	100% {
		visibility: hidden;
	  	opacity: 0;
	}
  }


.dropdown-btn:hover {
	color: var(--color-purple);
}

.dropdown-btn:active {
	color: var(--color-focus-purple);
}

.dropdown-btn {
	padding: 0;
	color: var(--color-white);
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 200ms ease-in-out;
}

.dropdown-btn:hover::after {
	background-image: url(../img/header-img/svg/header-bird-hover.svg);
}

.dropdown-btn:active::after {
	background-image: url(../img/header-img/svg/header-bird-active.svg);
}

.dropdown-btn.btn-flip:focus::after {
	background-image: url(../img/header-img/svg/header-bird.svg);
}

.dropdown-btn.btn-flip:hover::after {
	background-image: url(../img/header-img/svg/header-bird-hover.svg) !important;
}

.dropdown-btn::after {
	content: '';
	position: absolute;
    top: 11px;
    right: -20px;
    width: 15px;
    height: 10px;
    background-image: url(../img/header-img/svg/header-bird.svg);
    background-repeat: no-repeat;
	transform: translate(0px, 0px) rotate(0deg);
	transition: transform 200ms linear;
}

/* helper class */
.dropdown-btn.btn-flip::after {
	content: '';
	position: absolute;
    top: 11px;
    right: -18px;
    width: 15px;
    height: 10px;
    background-image: url(../img/header-img/svg/header-bird-active.svg);
    background-repeat: no-repeat;
	transform: translate(-3px, -3px) rotate(-180deg);
	transition: transform 200ms linear;
}

.btn-flip::after {
	background-image: url(../img/header-img/svg/header-bird.svg);
	transform: translate(3px, 3px) rotate(-180deg);
	transition: transform 200ms linear;
}

.dropdown {
	position: relative;
	font-size: 18px;
	line-height: 25px;
	
}

.dropdown:not(:last-child) {
	margin-right: 113px;
}

.dropdown-content:active {
	-webkit-box-shadow: -2px 0px 100px 100px rgba(194, 131, 243, 0.4) inset;
	-moz-box-shadow: -2px 0px 100px 100px rgba(194, 131, 243, 0.4) inset;
	box-shadow: -2px 0px 100px 100px rgba(194, 131, 243, 0.4) inset;
}

.dropdown-content:hover {	
	-webkit-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1) inset;
	-moz-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1) inset;
	box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1) inset;
}

.dropdown-content::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: -2px 0px 100px 100px rgba(194, 131, 243, 0.4) inset;
	-moz-box-shadow: -2px 0px 100px 100px rgba(194, 131, 243, 0.4) inset;
	box-shadow: -2px 0px 100px 100px rgba(194, 131, 243, 0.4) inset;
	opacity: 0;
}

.dropdown-content:active::before {
	opacity: 0.5;
}

.dropdown-content {
	position: relative;
	margin-bottom: 20px;
	padding: 9px 0px 12px 14px;	
	color: var(--color-white);
	cursor: pointer;
}

/* simplebar */

.simplebar-scrollbar:before {
    background: var(--color-purple);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	top: 0px;
    bottom: 0px;
    opacity: 1;
    left: 0px;
    right: 2px;
    width: 2px;
}

.simplebar-track.simplebar-vertical {
    top: 40px;
    width: 2px;
	max-height: 220px;
    margin-right: 19px;
	background-color: var(--color-black);
}

.dropdown-item-one {
	background-image: url(../img/header-img/ddmenu/cuttimg1.jpg);
}

.dropdown-item-two {
	background-image: url(../img/header-img/ddmenu/wrapper-bottom-item-two.jpg);
}

.dropdown-item-three {
	background-image: url(../img/header-img/ddmenu/wrapper-bottom-item-three.jpg);
}

.dropdown-item-four {
	background-image: url(../img/header-img/ddmenu/verokkio.jpg);
}

.dropdown-content:last-child {
	margin-bottom: 0px;
}

.wrapper__container-dropdown {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wrapper-bottom__link-icon {
	display: block;
	position: absolute;
	bottom: 6px;
	right: -17px;
	width: 13px;
	height: 7.7px;
	background-image: url(../img/header-img/svg/header-bird.svg);
	background-repeat: no-repeat;
	color: var(--color-white);
}

.wrapper-bottom__item--impr {
	min-width: 155px;
}

.wrapper__container .choices[data-type*=select-one]:focus {
	outline: 1px solid var(--color-purple);
}

.search-form {
	position: relative;
	transform: translate(-2px, 1px);
}

.search-form:focus {
	outline: 1px solid var(--color-purple);
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 0px;
}

.choices[data-type*=select-one] .choices__inner {
    padding: 0px;
    border: none;
    background-color: transparent;
}

.search-form__input {
	position: relative;
	padding: 0;
	width: 218px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	color: rgba(255, 255, 255, 0.85);
	font-size: 18px;
	line-height: 25px;
	cursor: pointer;
}

.search-form__input:hover {
	border-bottom: 1px solid var(--color-hover-purple);
}

.search-form__input:active {
	border-bottom: 1px solid var(--color-purple);
}

.search-form__input::-webkit-input-placeholder {
	color: var(--color-white);
 }

.search-form__input:hover + .search-form__input-icon {
	 background-image: url(../img/header-img/svg/search-icon-hover.svg);
 }

 .search-form__input:active + .search-form__input-icon {
	background-image: url(../img/header-img/svg/search-icon-active.svg);
}

.search-form__input-icon {
	display: block;
    position: absolute;
    top: 6px;
    left: -33px;
    background-image: url(../img/header-img/svg/search-icon.svg);
    width: 23px;
    height: 20px;
	cursor: pointer;
}

.container-bottom__input-submit {
	display: none;
}

/* hero */

.hero {
	/* min-height: 700px; */
    position: relative;
    margin-top: -70px;
}

.hero__wrapper {
	position: absolute;
    max-height: 700px;
    margin: 0 calc(50.5% - 961px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	overflow: hidden;
	z-index: 3;
}


.hero__slider {
	max-height: 700px;
}

.hero__slide {
	height: 800px;
	background-position: 0 -100px;
	background-repeat: no-repeat;
}

.hero__content {
	position: relative;
	padding-top: 141px;
	padding-bottom: 147px;
    width: 597px;
    color: var(--color-white);
    pointer-events: none;
	z-index: 5;
}

.hero__header {
	margin-left: -5px;
	margin-bottom: 19px;
	font-family: var(--font-open-sans-bold);	
	font-size: 72px;
	line-height: 82.8px;
}

.hero__text {
	margin-bottom: 115px;
	font-family: var(--font-open-sans-bold);
	font-size: 18px;
	line-height: 30px;
}

.hero__btn-link::before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: -5px;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(194, 131, 243, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(194, 131, 243, 1);
	box-shadow: 0px 0px 0px 2px rgba(194, 131, 243, 1);
	border-radius: 100px;
    opacity: 0;
	transition: box-shadow 300ms linear, opacity 300ms linear;
}

.hero__btn-link:focus::before {
    opacity: 1;
}

.hero__btn-link {
	position: relative;
    padding: 23px 37px 23px 33px;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--color-purple);
	font-family: var(--font-open-sans-bold);
	font-size: 18px;
    line-height: 24.5px;
    outline: none;
	pointer-events: visible;
	transition: box-shadow 300ms linear;
}

.hero__btn-link:hover {
	-webkit-box-shadow: 0px 0px 0px 2px rgba(209, 169, 240, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(209, 169, 240, 1);
	box-shadow: 0px 0px 0px 2px rgba(209, 169, 240, 1);
}

.hero__btn-link:active {
	border: none;
}


@-webkit-keyframes zoom {
	0% {
		 -webkit-transform: scale(1);
		         transform: scale(1);
	}
	25% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}

	50% {
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}

	75% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	85% {
		 -webkit-transform: scale(1.1);
		         transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
   }
 }

@keyframes zoom {
	0% {
		 -webkit-transform: scale(1);
		         transform: scale(1);
	}
	25% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}

	50% {
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}

	75% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	85% {
		 -webkit-transform: scale(1.1);
		         transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
   }
 }
 
 
 .hero__slide {
	 -webkit-animation: zoom 50s; /* Chrome, Safari, Opera */
	 animation: zoom 50s;
	 -webkit-animation-iteration-count: infinite;
	         animation-iteration-count: infinite;
	 -o-object-fit: none;
	    object-fit: none;
 }

 .hero__slide--one{
	background-image: url(../img/header-img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2.jpg);
 }

 .hero__slide--two {
	background-image: url(../img/header-img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 1.jpg);
 }

 .hero__slide--three {
	background-image: url(../img/header-img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 3.jpg);
 }

/* О нас */

.about {
	padding-top: 80px;
}

.about__header {
	margin-bottom: 15px;
}

.about__wrapper {
	width: 1080px;
}

.about__content {
	margin-bottom: 70px;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-black3);
}

/* gallery */

.gallery__header {
	color: var(--color-white);
}

.gallery {
	padding-top: 80px;
	min-height: 996px;
	background-image: url(../img/galery/galery-bg.jpg);
}

.gallery__download-discription {
	transform: translateY(10px);
	color: var(--color-white);
	font-size: 16px;
	line-height: 32px;
}

.gallery__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.gallery__wrapper-selector {
	padding-top: 15px;
}

.gallery__slider-container {
	padding-top: 85px;
	margin-left: 0px;
}

.gallery__wrapper-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400px;
	margin-right: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.swiper-container--gallery {
	position: relative;
	width: 1200px;
	height: 865px;
	margin-top: 162px;
	margin-left: 50px;
}

.gallery__slider-wrapper {
	width: 1150px !important;
	max-height: 800px;
}

.swiper-button-prev--gallery {
	top: 1px;
    left: 7px;
	background-color: var(--color-btn) !important;
	color: var(--color-white) !important;
}

.swiper-button-next--gallery {
	top: 1px;
	right: 7px;
	color: var(--color-white) !important;
	background-color: var(--color-btn) !important;
}

.gallery__figure {
	display: block;
	position: relative;
	width: 350px;
    height: 350px;
	cursor: pointer;
}

.gallery__figure::before {
	position: absolute;
	display: block;
	padding: 25px;
	content: url(../img/galery/hover-gallery.png);
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	transition: opacity 300ms ease-in, border 200ms;
	z-index: 10;
	border: 3px solid transparent;
} 

.gallery__figure:hover::before {
	opacity: 1;
}

.gallery__figure:focus::before {

	border: 3px solid var(--color-focus-purple);
}

.gallery__figure:active::before {
	background: linear-gradient(0deg, rgba(194, 131, 243, 0.4),
	 rgba(194, 131, 243, 0.4));
}

.gallery__slide {
	position: relative;
	width: 350px !important;
	height: auto;
	background-repeat: no-repeat;
}

.slider-nav-btn-wrapper {
	position: absolute;
    top: 27px;
    left: -7px;
    width: 150px;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
	font-size: 10px;
}

.swiper-button-next:active, 
.swiper-button-prev:active {
	border-color: #D1A9F0 !important;
	background-color: var(--color-focus-purple) !important;
}

.swiper-button-next:hover, 
.swiper-button-prev:hover {
	background-color: var(--color-purple) !important;
	transition: background-color 200ms linear !important;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
	border-color: var(--color-focus-purple);   
}

.swiper-button-next, 
.swiper-button-prev {
	padding: 13px;
	border: 2px solid var(--color-btn);
	background-color: var(--color-btn);
	border-radius: 50%;
	color: var(--color-black);
	background-color: #ECECEC;
	outline: none;
	transition: background-color 200ms linear;
}


.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    position: absolute;
    bottom: -23px;
    left: 58px;
    width: 100%;
    color: var(--color-white);
}

/* galery swiper btn */
.gallery__item {
	border: 1px solid #999;
	border-radius: 6px;
}

.gallery__label {
	display: block;
	margin-bottom: 10px;
	color: var(--color-white);
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.gallery__wrapper-discription {
	height: 118px; 
}

.gallery__download-discription {
	width: 385px;
	font-size: 16px;
	line-height: 32px;
	font-family: var(--font-open-sans-semi-bold);
}

.gallery__link-authorization:active {
	color: var(--color-focus-purple);
}

.gallery__link-authorization {
	color: #C283F3;
}


/* test selectors */

.select {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
	font-size: 16px;
	line-height: 32px;
}

.select__head {
    width: 100%;
    max-width: 100%;
	height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #fff;
    border-radius: 6px;
    padding: 3px 15px 3px 15px;
    color: #fff;
    cursor: pointer;
}

.select__head::after {
    width: 10px;
    height: 10px;
    background: transparent url(../img/galery/arrow-selector.svg) no-repeat center / cover;
    position: absolute;
    right: 14px;
    bottom: calc(50% - 3px);
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
    border-radius: 6px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    color: #999;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
	font-size: 16px;
	line-height: 32px;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
	height: 39px;
    position: relative;
    border-top: 1px solid #999;
    padding: 0px 15px 0px 20px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

/* Section catalog */ 

.catalog {
	padding-top: 80px;
}

.catalog__tab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog__wrapper-tab {
	margin-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.catalog__tab-wrapper-text {
	position: relative;
	max-width: 1080px;
}

.catalog__tab-icon:active {
	-webkit-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
	box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
	border-radius: 100%;
}

.catalog__tab-icon {
	display: block;
	width: 46px;
	height: 46px;
}
/* span-icon */

.catalog__span--fr {
	background-image: url(../img/catalog/image-france.png);
}
.catalog__span--ger {
	background-image: url(../img/catalog/image-ger.png);
}
.catalog__span--italy {
	background-image: url(../img/catalog/image-italy.png);
}
.catalog__span--rus {
	background-image: url(../img/catalog/image-rus.png);
}
.catalog__span--belg {
	background-image: url(../img/catalog/image-belg.png);
}

.catalog__tab-btn:hover {
	filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
	border-radius: 29px;
	transition: filter 300ms linear;
}

.catalog__tab-btn::before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
	box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
	border-radius: 100px;
	opacity: 0;
	transition: opacity 450ms linear;
	z-index: -1;
}

.catalog__tab-btn:active::before {
	opacity: 1;
}

.catalog__tab-btn:focus::before {
	margin: -10px;
	opacity: 1;
}

.catalog__tab-btn {
	position: relative;
	max-height: 46px;
    padding: 0px;
    background-color: transparent;
    border: none;
	outline: none;
	cursor: pointer;
	transition: filter 300ms linear;
}

.catalog__header {
	margin-right: 41px;
	font-size: 48px;
	line-height: 65px;
	color: var(--color-black3);
}

.catalog__tab-item:focus {
	border-radius: 50%;
}

.catalog__tab-item {
	display: inherit;
	max-height: 46px;
	margin-right: 50px;
}

.tab-content-active {
	max-width: 1080px;
	margin: 5px 0px 40px 0px;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-black3);
}

.catalog__tab-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	margin-bottom: 38px;
	font-size: 16px;
	line-height: 32px;
	opacity: 0;
	transition: opacity 300ms linear, visibility 300ms linear;
}

.tab-active {
	position: static;
	opacity: 1;
	visibility: visible;
	transition: opacity 300ms linear, visibility 300ms linear;
}

.main-country::before {
	position: absolute;
    content: '';
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(157 92 208);
    -moz-box-shadow: 0px 0px 0px 2px rgba(157, 92, 208, 1);
    box-shadow: 0px 0px 0px 2px rgb(157 92 208);
    border-radius: 100px;
    opacity: 1;
    transition: opacity 450ms linear;
}

.catalog__painter {
	position: relative;
	width: 750px;
}

.catalog__painter-wrapper {
	position: relative;
	height: 470px;
	margin-bottom: 31px;
}

.catalog__content {
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	visibility: hidden;
	opacity: 0;
}

.main-painter {
	color: var(--color-purple);
	font-family: var(--font-open-sans-semi-bold) i !important;
}

.catalog__painter-img {
	width: 100%;
	height: 470px;
	margin-bottom: 29px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 400ms, visability 400ms;
}

.catalog__wrapper-discription-painter {
	position: relative;
	width: 749px;
	height: auto;
	min-height: 585px;
	overflow: auto;
}

.catalog__discription-painter {
	display: block;
	opacity: 0;
	visibility: hidden;
	max-width: 749px;
	max-height: 580px;
	font-size: 16px;
	line-height: 32px;
	overflow: auto;
	transition: opacity 600ms, visibility 400ms;
}

.catalog__item:focus::after {
	content: '';
	position: absolute;
	top: -7px;
	left: -7px;
	right: -7px;
	bottom: -7px;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
}

.catalog__item:focus {
	outline: none;	
}

.catalog__accardeon {
	min-width: 800px;
	margin-left: 50px;
}

/* catalog__accardeoN */

.catalog__container-accardeon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog__painter-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-height: 320px;
	width: 0;
	height: auto;
	margin-bottom: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 1.5px;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-black3);
	transition: height 300ms linear;
}

.catalog__wrapper-painter-list {
	border-radius: 0;
}

.catalog__painter-link {
	display: none;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-align: start;
	font-family: var(--font-open-sans-regular) !important;
	transition: color 300ms;
}
.catalog__painter-link:focus {
	outline: none;
	border: 2px solid var(--color-focus-purple);
}
.catalog__painter-link:active {
	color: var(--color-focus-purple);
}

.catalog__painter-item {
	width: 258px;
	transform: translateX(1px);
}

.ui-widget-content a {
	color: var(--color-black3);
}

.ui-accordion .ui-accordion-content {
	padding: 25px 25px 0 0;
	border-left: none;
	border-right: none;
	border-top: 1px solid var(--color-purple);
    border-bottom-color: var(--color-purple);
	overflow-y: hidden;
}

.catalog__item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.catalog__item:active > .catalog__years-lived > .catalog__icon {
	background-color: var(--color-focus-purple);
	-webkit-box-shadow: 0px 0px 0px 2px rgba(209, 169, 240, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(209, 169, 240, 1);
	box-shadow: 0px 0px 0px 2px rgba(209, 169, 240, 1);
	border-radius: 100%;
}

.catalog__item:hover > .catalog__years-lived > .catalog__icon {
	background-color: var(--color-purple);
}

.catalog__item:hover > .catalog__years-lived {
	color: var(--color-purple);
}

.catalog__item:hover {
	border-color: var(--color-purple);
}

.catalog__item {
	position: relative;
	transition: border-color 200ms linear;
	border-radius: 0;
}

.catalog__item:not(.end) {
	border-bottom: none;
}

.catalog__years-lived {
	font-size: 24px;
	line-height: 32px;
	color: var(--color-black);
	font-family: var(--font-open-sans-semi-bold);
	outline: none;
	transition: opacity 600ms, visibility 400ms, color 200ms linear;
}

.ui-accordion .ui-accordion-header {
	margin-top: 0px;
    padding: 37px 0px 43.7px 0px;
	border-left: none;
	border-right: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #d3d3d3;
    background: none;
}

.is-icon-flip {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
			background-color: var(--color-purple) !important;
			background-image: url(../img/catalog/arrow-bottom-is-active.svg) !important;
}

.catalog__icon::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.catalog__years-lived:active > .catalog__icon {
	border-color: #D1A9F0;
}

.catalog__icon {
	display: block;
    width: 20px;
	height: 16px;
	padding: 25px;
    position: absolute;
    top: 27%;
    right: -3px;
	border: 2px solid transparent;
	background-color: #ECECEC;
	border-radius: 50%;
	background-image: url(../img/catalog/arrow-bottom.svg);
	background-position: center center;
	background-repeat: no-repeat;
	transition: transform 300ms linear, background-color 300ms linear;
	
}

.ui-accordion-header-icon {
    display: none;
}

.catalog__wrapper-header {
	position: relative;
	height: 33px;
	margin-bottom: 10px;
}

.catalog__painter-header {
	margin-bottom: 7px;
	font-size: 24px;
	line-height: 33px;
	font-family: var(--font-open-sans-semi-bold);
	visibility: hidden;
	opacity: 0;
	transition: opacity 600ms, visibility 400ms;
}

.catalog__painter-wrapper-years-lived {
	position: relative;
	height: 16px;
	margin-bottom: 5px;
}

.catalog__painter-years-lived {
	display: block;
    margin-bottom: 7px;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}


/* Section events */

.events {
	padding-top: 84px;
} 


.events__container-cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.events__wrapper-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 31.2%;
	margin-bottom: 50px;
	border: 1px solid #CACACA;
}

.events__wrapper-card:not(:nth-child(3n)) {
	margin-right: 3.2%;
}

/* cards */

.events__header {
	margin-bottom: 15px;
}

.events__name-museum {
	margin: 0px 19px 4px 0px;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
}

.events__header-card {
	width: 100%;
	margin-bottom: 3px;
	font-size: 24px;
	line-height: 33px;
	font-family: var(--font-open-sans-semi-bold);
}

.events__cards-img {
	margin-bottom: 10px;
}

.events__card-discription {
	margin-bottom: 20px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	font-size: 16px;
	line-height: 32px;
}

.event__wrapper-card-content {
	padding: 0px 30px 0px 50px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.event__wrapper-link {
    margin: 0 30px 42px 50px;
}

.events__link {
	padding-bottom: 2px;
	color: var(--color-purple);
    border-bottom: 1px solid var(--color-purple);
    line-height: 26px;
  	transition: text-shadow .3s;
}

.events__link:hover {
	text-shadow: 0 0 .65px var(--color-purple), 0 0 .65px var(--color-purple);
}

.ui-custom:active {
	color: var(--color-focus-purple);
	border-bottom-color: var(--color-focus-purple);
}

.ui-custom:hover {
	text-shadow: 0 0 .65px var(--color-purple), 0 0 .65px var(--color-purple);
	color: var(--color-purple);
	border-bottom: 1px solid var(--color-purple);
}

.ui-custom {
	transition: color 300ms linear, border-bottom 400ms, text-shadow 200ms;
}

/* card show-more */

.read-more {
	margin: 0;
	visibility: hidden;
	height: 0;
}

.show-more {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	visibility: visible;
}

.events__btn-all-events:focus::before {
	opacity: 1;
}

.events__btn-all-events::before {
	content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
	opacity: 0;
    border-radius: 100px;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	transition: box-shadow 300ms linear, opacity 300ms linear;
}

.events__btn-all__wrapper-link {
	text-align: center;
}

.events__btn-all-events {
	display: inline-block;
	position: relative;
    padding: 15px 33px;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-purple);
    cursor: pointer;
    outline: none;
    font-family: var(--font-open-sans-bold);
	border: 2px solid #9D5CD0;
	border-radius: 100px;
	transition: background-color 300ms linear, color 300ms linear;
}

.events__btn-all-events:hover {
	background-color: var(--color-purple);
	color: var(--color-white);
}


.events__btn-all-events:active::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-box-shadow: 0px 0px 0px 4px rgba(209, 169, 240, 1);
	-moz-box-shadow: 0px 0px 0px 4px rgba(209, 169, 240, 1);
	box-shadow: 0px 0px 0px 4px rgba(209, 169, 240, 1);
}
.wrapper-btn-all-events:focus::before {
	-webkit-box-shadow: 0px 0px 0px 2px rgba(194, 131, 243, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(194, 131, 243, 1);
	box-shadow: 0px 0px 0px 2px rgba(194, 131, 243, 1);
}

.wrapper-btn-all-events {
	display: inline-block;
    padding: 3px;
    margin-left: calc(50% - 94.3px);
}

.events__btn-link {
	color: var(--color-purple);
}

/* Section editions */

.editions {
	padding-top: 80px;
	margin-top: 78px;
	background-image: url(../img/Editions/bg-section-editions.jpg);
}

.editions__header {
	margin-bottom: 19px;
	color: var(--color-white);
}

.editions__wrapper-content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.checkbox__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 168px;
	max-width: 277px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.checkbox__header {
	font-family: var(--font-open-sans-bold);
	font-size: 16px;
	line-height: 32px;
	color: var(--color-white);
}

.checkbox__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	margin-bottom: 78px;
	color: var(--color-white);
}

/* Custom checkbox */


.checkbox__label {
	position: relative;
	cursor: pointer;
	width: fit-content;
}

.checkbox__label:nth-last-child(2) {
	margin-bottom: 32px;
}

.checkbox__input-item {
	position: absolute;
	opacity: 0;
}

.p {
	color: var(--color-purple);
}

.checkbox__text {
	width: fit-content;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-white);
	transition: color 300ms;
}

.checkbox__text::before {
	content: '';
	width: 10px;
	height: 10px;
	margin-right: 13px;
	border: 1px solid var(--color-white);
	transition: border-color 300ms;
}

.checkbox__input-item:active + .checkbox__text::before {
	border-color: var(--color-focus-purple);
}

.checkbox__text:active {
	color: var(--color-focus-purple);
}

.checkbox__text:hover {
	color: var(--color-hover-purple);
}

.checkbox__input-item:active + .checkbox__text {
	color: var(--color-focus-purple);
}

.checkbox__text:hover::before{
	border-color: var(--color-hover-purple);
}

.checkbox__input-item:checked + .checkbox__text {
	color: var(--color-hover-purple);
}

.checkbox__input-item:checked + .checkbox__text::before {
	background-image: url(../img/Editions/dot-checkbox.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid var(--color-purple);
	color: var(--color-purple);
}

.checkbox__text::after {
	position: absolute;
	content: '';
	top: 0px;
	right: -7px;
	bottom: 0px;
	left: -7px;
	opacity: 0;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
	box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
}

.checkbox__input-item:focus + .checkbox__text::after {	
	opacity: 1;
}

/* filter-price */

.checkbox__filter-price {
	min-width: 277px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 6px;
}

.input-number::placeholder {
	color: var(--color-white);
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.checkbox__header-price {
    margin-bottom: 13px;
	font-family: var(--font-open-sans-bold);
}

.span-from-to{
	margin: 4px 3px 4px 10px;
	font-size: 16px;
	line-height: 32px;
}

.input-number {
	width: 73px;
	height: 40px;
	padding:4px 0px 7px 10px;
	background: rgba(157, 92, 208, 0.5);
	color: var(--color-white);
	border: none;
	outline: none;
}

.span-rubles {
	margin: 4px 0px 4px 6px;
}

/* editions__swiper-container */

.editions-goods__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.editions-goods__container {
	margin-top: 34px;
	padding-left: 5px;
}

.editions-goods__content-conteiner {
	margin-top: 61px;
	width: 350px;
	height: 390px;
}

.edition__swiper-img {
	max-width: 100%;
	height: 100%;
}

.slider-nav-btn-wrapper--edition {
	position: absolute;
    top: 36px;
    left: 442px;
}

.editions-goods__img {
	margin-bottom: 19px;
}

.editions-goods__discriprion {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 24px;
	color: var(--color-white);
	font-size: 16px;
	line-height: 21.79px;
}

.editions-goods__name-book {
	font-size: 16px;
	line-height: 22px;
	font-family: var(--font-open-sans-bold);
}

.editions-goods__book-author {
	font-size: 16px;
	font-family: var(--font-open-sans-regular);
}

.editions__swiper-book-price {
	font-family: var(--font-open-sans-regular-italic);
	font-size: 16px;
	line-height: 21.79px;
}

.editions__swiper-link {
	position: relative;
	padding: 7px 20px;
	border: 2px solid var(--color-purple);
	border-radius: 100px;
	color: var(--color-white);
	font-size: 16px;
	line-height: 21.79px;
	font-family: var(--font-open-sans-bold);
	outline: none;
	transition: background-color 300ms linear;
}
.editions__swiper-link::before {
	content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    opacity: 0;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(121 67 164);
    -moz-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
    box-shadow: 0px 0px 0px 2px rgb(121 67 164);
    transition: box-shadow 300ms linear, opacity 300ms linear;
}

.editions__swiper-link:focus:before {
	opacity: 1;
}

.editions__swiper-link:hover {
	background-color: var(--color-purple);
}

.editions__swiper-link:active {
	background-color: var(--color-focus-purple);
}

.swiper-button-next--edition {
	top: 0;
	color: var(--color-white) !important;
    background-color: var(--color-btn) !important;
}

.swiper-button-prev--edition {
	left: 7px;
	color: var(--color-white) !important;
    background-color: var(--color-btn) !important;
}

/* Section project*/

.project {
	padding-top: 80px;
	margin-bottom: 80px;
}

.project__header {
	margin-bottom: 17px;
}

.project__wrapper-content {
	position: relative;
	margin-bottom: 20px;
	width: 1080px;
	font-size: 16px;
	line-height: 32px;
}

.project__icon-tooltip {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/project/icon-text.svg);
	background-size: contain;
	cursor: pointer;
	-webkit-transform: translate(-1px, 3px);
	    -ms-transform: translate(-1px, 3px);
	        transform: translate(-1px, 3px);
}

.project__link {
	color: var(--color-purple);
	letter-spacing: 0.3px;
}

.project__tooltip {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/project/icon-text.svg);
    cursor: pointer;
}

.project__tooltip::before {
	content:'';
    position: absolute;
	left: 100%;
    bottom: 11px;
    margin-left: -16px;
    border: 7px solid transparent;
    border-top: 10px solid #CACACA;
	opacity: 0;
	visibility: hidden;
	transition: opacity 400ms linear, visibility 500ms linear;
}

.project__tooltip::after {
    position: absolute;
	bottom: 28px;
    left: -125px;
    width: 242px;
    height: 20px;
    padding: 8px 11px 22px 11px;
    background-color: #CACACA;
	color: #fff;
    font-family: var(--font-open-sans-semi-bold);
    opacity: 0;
    visibility: hidden;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
    transition: opacity 400ms linear, visibility 500ms linear;
}

.tooltip-one::after {
	height: 20px;
    content: 'Пример современных тенденций - современная методология разработки';
}

.tooltip-two::after {
	position: absolute;
	content: 'Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции';
	bottom: 26px;
    left: -125px;
    width: 242px;
    height: 34px;
}

.tooltip-thre::after {
    content: 'В стремлении повысить качество';
	bottom: 26px;
    left: -109px;
    width: 209px;
    height: 4px;
}

.project__tooltip:active::before,
.project__tooltip:focus::before,
.project__tooltip:hover::before, 
.project__tooltip:active::after,
.project__tooltip:focus::after,
.project__tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

/* project__swiper */

.project__wrapper-slider {
	position: relative;
}

.project__header-images {
	margin-bottom: 23px;
	font-size: 24px;
	line-height: 32px;
	font-family: var(--font-open-sans-semi-bold);
}

.project__container {
	width: 1450px;
    height: 150.6px;
}

.project__images {
	width: 450px !important;
	height: 150px;
	margin-right: 50px;
	filter: grayscale(1);
	background-size: cover;
	background-repeat: no-repeat;
	outline: none;
	transition: filter 300ms linear;
}

.project__images:active,
.project__images:focus,
.project__images:hover {
	filter: grayscale(0);
}

.swiper-button-prev--project {
	top: 42%;
    right: 1px;
    background-color: #ECECEC;
    color: var(--color-black);
    border: none;
    padding: 15px;
}

.swiper-button-next--project {
	top: 42%;
    right: 1px;
    background-color: #ECECEC;
    color: var(--color-black);
    border: none;
    padding: 15px;
	transition: box-shadow 300ms,  background-color 300ms color 300ms;
}

.swiper-button-next--project:hover,
.swiper-button-prev--project:hover {
	color: var(--color-white);
}

.swiper-button-prev--project:focus {
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 0px 2px var(--color-focus-purple);
	-moz-box-shadow: 0px 0px 0px 2px var(--color-focus-purple);
	box-shadow: 0px 0px 0px 2px var(--color-focus-purple);
}
.swiper-button-next--project:focus {
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 0px 2px var(--color-focus-purple);
	-moz-box-shadow: 0px 0px 0px 2px var(--color-focus-purple);
	box-shadow: 0px 0px 0px 2px var(--color-focus-purple);
}

.swiper-button-prev--project:active {
	color: var(--color-white);
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 0px 2px var(--color-active);
	-moz-box-shadow: 0px 0px 0px 2px var(--color-active);
	box-shadow: 0px 0px 0px 2px var(--color-active);
}
.swiper-button-next--project:active {
	color: var(--color-white);
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 0px 2px var(--color-active);
	-moz-box-shadow: 0px 0px 0px 2px var(--color-active);
	box-shadow: 0px 0px 0px 2px var(--color-active);
}


/* Section Contacts */

.contacts-header {
	margin-bottom: 16px;
	margin-left: 160px;
	color: var(--color-black3);
	font-size: 48px;
	line-height: 65px;
}

.contacts__wrapper-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 16px;
}

.contacts__wrapper-form {
	padding: 123px 121px 0px 160px;
	border-top: 1px solid #CACACA;
	border-right: 1px solid #CACACA;
}

.contacts__adres{
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 32px;
	font-family: var(--font-open-sans-semi-bold);
}

.contacts__adres-dscr {
	margin-bottom: 27px;
	font-size: 16px;
	line-height: 32px;
}

.contacts__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.contacts__callback {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 32px;
}

.contacts__input {
	margin-bottom: 22px;
	padding: 4px 56px 4px 24px;
	border: 1px solid var(--color-black3);
	border-radius: 100px;
	width: 400px;
	height: 40px;
	color: #999999;
	font-size: 16px;
	line-height: 32px;
}

.contacts__input:nth-child(1) {
	margin-top: 15px;
}

.contacts__input:nth-child(2) {
    margin-bottom: 23px;
}

.contacts__btn {
	max-width: 157px;
	padding: 15px 35px;
	margin-bottom: 38px;
	position: relative;
	border: 2px solid var(--color-purple);
	border-radius: 100px;
	color: var(--color-purple);
	background-color: #fff;
	font-size: 18px;
	line-height: 25px;
	cursor: pointer;
	outline: none;
	font-family: var(--font-open-sans-bold);
	transition: background-color 300ms linear,color 300ms linear;
}

.contacts__btn:focus::before {
	opacity: 1;
}

.contacts__btn::before {
	content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    opacity: 0;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(121 67 164);
    -moz-box-shadow: 0px 0px 0px 2px rgba(121, 67, 164, 1);
    box-shadow: 0px 0px 0px 2px rgb(121 67 164);
    transition: box-shadow 300ms linear, opacity 300ms linear;
}
.contacts__btn:hover {
	background-color: var(--color-purple);
	color: var(--color-white);
}

.contacts__connect {
	margin-bottom: 17px;
	font-size: 24px;
	line-height: 32px;
}

.contacts__socials-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 13px;
}

.contacts__whatsup {
	margin-right: 23px;
}

.contacts__whatsup-link {
	display: block;
	width: 38.74px;
	height: 38.74px;
	background-image: url(../img/contacts/Whatsapp-Icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.contacts__telegram-link {
	display: block;
	width: 38.74px;
	height: 38.74px;
	background-image: url(../img/contacts/Telegram_icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.container-fw {
	max-width: 1920px;
	margin: 0 auto;
}

.ymaps-2-1-78-controls__control {
    display: none;
}

/* Footer */

.footer {
	background-color: var(--color-black);
}

.footer__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 140px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer__social-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    width: 175px;
}

.footer__social-link {
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.footer__link--vk {
	background-image: url(../img/footer/vk.svg);
}

.footer__link--telegram {
	background-image: url(../img/footer/instagram.svg);
}

.footer__link--facebook {
	background-image: url(../img/footer/fb.svg);
}

[class*="ground-pane"] {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}

.ymaps-2-1-78-controls__control {
	display: none !important;
}

/* Popup */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
	z-index: 100;
}

.popup__body {
    display: flex;
    padding: 10px 30px;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.popup__content {
    position: relative;
    text-align: center;
    padding: 30px;
    width: 800px;
    color: #000;
    background-color: #fff;
}

.popup__image {
    opacity: 1;
}

.popup__text {
	padding: 10px;
}

.popup__close {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0px;
    right: -40px;
    cursor: pointer;
    background-size: contain;
    background-image: url(../img/popup/popup-close-icon.svg);
    background-repeat: no-repeat;
}

.popup__close:hover {
	background-image: url(../img/popup/popup-close-icon-hover.svg);
}

.popup-active {
    visibility: visible;
    opacity: 1;
}


.popup__next-slide {
    display: block;
	width: 80px;
	height: 40px;
    padding: 10px;
    position: absolute;
    top: 45%;
    right: -17%;
    cursor: pointer;
    font-size: 18px;
	background-image: url(../img/galery/arrow-right.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.popup__prev-slide {
	display: block;
	width: 80px;
	height: 40px;
    padding: 10px;
    position: absolute;
    top: 45%;
    left: -11%;
    cursor: pointer;
    font-size: 18px;
	background-image: url(../img/galery/arow-left.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.popup__prev-slide:hover {
	background-image: url(../img/popup/arow-left.svg);
}

.popup__next-slide:hover {
	background-image: url(../img/popup/arrow-right.svg);
}

.popup__prev-slide:active {
	background-image: url(../img/popup/arow-left-active.svg);
}

.popup__next-slide:active {
	background-image: url(../img/popup/arrow-right-active.svg);
}
